.navigation__links {
    display: flex;
    list-style-type: none;
    margin:0;
    padding:0;
}

@media screen and (max-width: 690px) {
    .navigation__links {
        flex-direction: column;
        margin-bottom: 48px;
        padding-left: 16px;
    }
}

@media (max-width: 424px) {
    .navigation__links {
        margin-bottom: 15px;
    }
}