.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

@media (max-width: 690px) {
    .footer__link {
        margin: 0 0 32px 0;
        font-size: 24px;
        line-height: 1;
        display:block;
    }
}