.footer {
    width: calc(100% - 48px*2);
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    align-items: baseline;
}

@media (max-width: 1023px) {
    .footer {
        width: calc(100% - 24px*2);
    }

}

@media  (max-width: 767px) {
    .footer {
        width: calc(100% - 16px*2);
    }
}

@media (max-width: 640px) {
    .footer {
        display: block;
        width: 100%;
        min-width: 240px;
    }
}