.place__url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    padding-bottom: 12px;
    padding-top: 12px;
    text-transform: uppercase;
}

@media (max-width: 1279px) {
    .place__url-heading {
        line-height: 12px;
    }
}

@media (max-width: 424px) {
    .place__url-heading {
        margin-left: 16px;
        
    }
}